<h1>Running pace calculator</h1>

<h2>Want to convert your running targets into km/h for the treadmill?</h2>

<form action="calculator/results">
	Target distance (km): <input type="number" name="distance" value="10">
	<br>
	<br>
	Target time:
	<br>Hours <input type="number" name="hours" value="0">
	Minutes <input type="number" name="minutes" value="50">
	Seconds <input type="number" name="seconds" value="0">
	<br>
	<br>
	<input type="submit" value="Calculate">
</form>