@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 30px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* #home_bullet */
ul {
  list-style-type: none;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
	font-size: 60px;	
  letter-spacing: -2px;
  margin-bottom: 10px;
  text-align: center;
}

h2 {
  font-size: 1.3em;
  letter-spacing: -1px;
  margin-bottom: 40px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* footer */
footer {
	margin-bottom: 20px;
}


/* form */

input, select, textarea {
font-size: 40px;
}

input, select {
   width: 130px;
} 

optgroup { 
	font-size:140px;
	height: 40px;
	option {
		font-size: 50px;
	}
}

.submit {
	width: 25%;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover   {
	color: inherit;
  text-decoration:  none;
}

.footer-div {
	display: inline-block;	
	font-size: 10px;
	width: 100%;
}

.child {
	float: left;
	width: 33.3%;
	text-align: center;
}

.logo {
	float: left;
	margin-left: 20px;
	display: inline-block;	
	width: 10%;
	height: 10%;
}

.jumbotron {
	border: 2px solid black;
	padding-top: 10px;
	padding-bottom: 20px;
}
